/bin/
/gen/
/.settings/
/build/
/.gradle/
/.idea/
#Ignore thumbnails created by Windows
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
local.properties
gradlew
gradlew.bat
motocitizen.iml
.DS_Store
res/.DS_Store
res/drawable-hdpi/.DS_Store
res/drawable-xhdpi/.DS_Store
res/mipmap-xxxhdpi/.DS_Store
google-services.json
gradle/
motocitizen-release.apk
projectFilesBackup/
/secrets.properties
/tmp/
