<?xml version="1.0" encoding="utf-8"?>
<manifest package="motocitizen.main"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:versionCode="990"
          android:versionName="0.9.90">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="25"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="25"/>

    <application
        android:name="motocitizen.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <service android:name="motocitizen.notifications.NotificationListener"
                 android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/accident" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfQZrnHvn-fNCYmFQSMBa-1ClE0ZCWUQ4"/>

        <activity
            android:name="motocitizen.activity.MainScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActivityTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="motocitizen.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:noHistory="true"
            android:parentActivityName="motocitizen.activity.MainScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="motocitizen.activity.MainScreenActivity"/>
        </activity>
        <activity
            android:name="motocitizen.activity.AuthActivity"
            android:label="AuthActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="motocitizen.activity.CreateAccActivity"
            android:label="@string/title_activity_create_acc"
            android:noHistory="true"
            android:parentActivityName="motocitizen.activity.MainScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="motocitizen.activity.MainScreenActivity"/>
        </activity>
        <activity
            android:name="motocitizen.activity.AccidentDetailsActivity"
            android:noHistory="true"
            android:parentActivityName="motocitizen.activity.MainScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="motocitizen.activity.MainScreenActivity"/>
        </activity>
        <activity
            android:name="motocitizen.activity.SettingsActivity"
            android:parentActivityName="motocitizen.activity.MainScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="motocitizen.activity.MainScreenActivity"/>
        </activity>
        <activity
            android:name="motocitizen.activity.BusinessCardActivity"
            android:label="@string/title_activity_business_card"
            android:noHistory="true"
            android:parentActivityName="motocitizen.activity.AboutActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="motocitizen.activity.AboutActivity"/>
        </activity>
        <activity
            android:name="motocitizen.activity.StartupActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>